<div ng-include="'components/navbar/navbar.html'"></div>

<div class="col-md-12">
This is the players view.
</div>

<div class="container">
  	<div class="row">
    	<div class="col-lg-12">
<!--     		<ul>
    			<li ng-repeat="player in players">{{ player.first + ' ' + player.last}}</li>
			</ul> -->
			<table>
				<tr ng-repeat="player in players">
					<th ng-repeat="(key, value) in player">{{key}}</th>
<!-- 					<th>ID</th>
					<th>First</th>
					<th>Last</th>
					<th>Position</th>
					<th>Jersey</th>
					<th>Overall</th>
					<th>Speed</th>
					<th>Acceleration</th>
					<th></th> -->
				</tr>
				<tr ng-repeat="player in players">
					<td ng-repeat="(key, value) in player">{{value}}</td>
				</tr>
			</table>
    	</div>
	</div>
</div>


<!--     "strength" : "79",
    "agility" : "92",
    "awareness" : "92",
    "catching" : "98",
    "carrying" : "76",
    "throwpower" : "24",
    "kickpower" : "12",
    "kickaccuracy" : "12",
    "runblock" : "65",
    "passblock" : "35",
    "tackle" : "45",
    "jumping" : "92",
    "return" : "25",
    "injury" : "92",
    "stamina" : "97",
    "toughness" : "88",
    "trucking" : "85",
    "elusiveness" : "66",
    "bcvision" : "87",
    "stiffarm" : "88",
    "spinmove" : "85",
    "jukemove" : "92",
    "impactblock" : "58",
    "powermove" : "10",
    "finesseemove" : "10",
    "blockshedding" : "63",
    "pursuit" : "45",
    "playrec" : "26",
    "mancoverage" : "18",
    "zonecoverage" : "39",
    "spectacularcatch" : "89",
    "catchintraffic" : "99",
    "routerunning" : "98",
    "hitpower" : "12",
    "press" : "10",
    "release" : "99",
    "throwaccuracyshort" : "15",
    "throwaccuracymed" : "10",
    "throwaccuracydeep" : "5",
    "playaction" : "5",
    "throwonrun" : "10",
    "team" : "Bears",
    "_id" : ObjectId("53f16f97df04fd00001cc878")
} -->